@model AboutYourHolidays.ViewModels.PostViewModels.PostAddViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Libraries/Dropzone/basic.css" />
    <link rel="stylesheet" href="~/Libraries/Dropzone/dropzone.css" />


}



<div class="container d-flex w-100 justify-content-center orangeContainer">
    <div class="form-group col-sm-7 col-md-7 col-lg-7 col-12" style="text-align: center">
        <h2 style="margin-bottom:40px">Dodaj nowy wpis</h2>
        @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "mydropzone" }))
        {
            @Html.AntiForgeryToken()



        }

        <div class=" mt-3">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", id = "Title", @placeholder = "Tutuł..." } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
        <div class="mt-3">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @maxlength = "1000", style = "height:200px", id = "Description", @placeholder = "Opis..." } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="mt-3">
            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", id = "Country", @placeholder = "Kraj..." } })
            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
        </div>


        <div class="mt-3">
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", id = "City", @placeholder = "Miasto..." } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>


        <div class="text-center mt-auto" style="margin-top:20px!important">
            <input type="button"
                   value="Zapisz"
                   class="addpost myButton" />
        </div>
    </div>
</div>
    @section Scripts {
        <script src="~/Libraries/Dropzone/dropzone.js"></script>
        <script>
            Dropzone.autoDiscover = false;
            $(function () {
                var dz = null;
                var myDropzone = $("#mydropzone").dropzone({
                    autoProcessQueue: false,
                    paramName: "ImageFile",
                    uploadMultiple: true,
                    addRemoveLinks: true,
                    acceptedFiles: ".jpeg,.png,.jpg",
                    init: function () {
                        dz = this;
                        $('.addpost').click(function () {
                            dz.processQueue();
                        })
                    },
                    sending: function (file, xhr, formData) {
                        formData.append('Title', $('#Title').val());
                        formData.append('Description', $('#Description').val());
                        formData.append('Country', $('#Country').val());
                        formData.append('City', $('#City').val());

                    },
                    success: function () {
                    window.location.href = '@Url.Action("Index", "Post")';
                    },
                    dictDefaultMessage: "Dodaj zdjęcia",
                    dictRemoveFile: "Usuń"

                });

            });
        </script>
        @Scripts.Render("~/bundles/jqueryval")
    }
