@model IEnumerable<AboutYourHolidays.ViewModels.PostViewModels.PostDetailsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center px-5 orangeContainer">
    <h2 class="col-12 text-center">Wszystkie wpisy</h2>
    <div class="row">
        <div class="col-xs-12 col-lg-12" style="margin-top: 20px; margin-bottom: 20px">
            @using (Html.BeginForm("Index", "Post", FormMethod.Get, new { @class = "form-inline" }))
            {
                <button type="button" id="closeSearch" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @Html.TextBox("text", null, htmlAttributes: new { @class = "form-control", id = "searchInput" })
                <input id="submitSearch" type="submit" value="Szukaj" class="btn btn-default detailsButton" />
            }
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-xs-6 col-lg-6" style="margin-bottom: 20px">
                    <h2>@Html.DisplayFor(modelItem => item.Tilte)</h2>
                    <img style=" border-radius: 8px; max-height: 300px; width: 100%; border: 3px; border-style: solid; border-color: #fce29a;" src="@Url.Content(item.ImageUrl)" />
                </div><!--/.col-xs-6.col-lg-6-->
                <div class="col-xs-6 col-lg-6" style="padding-top: 60px; margin-bottom: 20px">

                    <p style="text-overflow: ellipsis;">@Html.DisplayFor(modelItem => item.ShortDescription)...</p>
                    <p style="text-overflow: ellipsis;">@Html.DisplayFor(modelItem => item.CreatedOn)</p>
                    <p><a style="color:#f7cf6f" href="@Url.Action("Details", "Post", new { id = item.Id })" role="button">Zobacz więcej</a></p>
                </div><!--/.col-xs-6.col-lg-6-->
                <hr />
            }

        </div>
    }
    else
    {
        <h2 class="col-12 text-center">Nie znaleziono żadnych postów !</h2>
    }
</div>


<script>
    $("#closeSearch").click(function () {
        if ($("#searchInput").val() != null || $("#searchInput").val() != "") {
            $("#searchInput").val("");
            $("#submitSearch").click();
        }
    });
</script>